@import url("https://use.typekit.net/xsm3dxa.css");

:root {
    --light-green: #d8e9d3;
    --dark-green: #294c30;
    --desat-green: #bac9bd;
}

h1, h2, h3, h4, details {
    font-family: "olivita", "verdana", sans-serif;
    font-weight: normal;
}
p, ul, a {
    font-family: "hoss-round-xnarrow", "arial", sans-serif;
}
body {
  background-color: var(--dark-green); /*#1d0b00;*/
  background-repeat: repeat;
  color: black;
  font-family: Verdana;
}


nav {
    background-color: var(--light-green);
    position: sticky;
    border: 4px solid black;
    border-radius: 20px;
    margin: 330px auto auto auto;
    width: auto;
    min-width: 220px;
    top: 25px;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 30px;
}
nav ul li h3 {
    margin: 0px;
}
nav ul li a {
    display: block;
    margin-left: 20px;
    padding: 5px;
    color: var(--dark-green);
    border-bottom: 2px solid var(--desat-green);
}
nav ul li a:hover {
    color: white;
    text-shadow: 0 0 8px #112515;
}



.page-container {
    width: 80%;
    max-width: 1400px;
    min-width: 500px;
    padding-right: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}  

.text-container {
    max-width: 1080px;
    min-width: 500px;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    padding: 0px 0px 20px 0px;
    background-color: var(--light-green);
    border-radius: 20px;
    border: 4px solid black;
}
#pagebanner {
    width: 100%;
    grid-column: 1 / -1;
    border-bottom: 4px solid black;
    border-radius: 16px 16px 0px 0px;
}
#page-header {
    padding: 0px 100px 20px 100px;
    grid-column: 1 / -1;
}
.content-item {
    padding: 0px 20px;
}
#left-container {
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
}
#middle-container {
    flex-basis: 0;
    flex-grow: 3;
    border-left: 4px double var(--desat-green);
    border-right: 4px double var(--desat-green);
}
#right-container {
    flex-basis: 0;
    flex-grow: 1;
}

#pfp {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 0px 0px 20px 0px;
    border-bottom: 5px dotted var(--desat-green);
}

#profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#profile h2 {
    margin: 5px;
    width: 100%;
    text-align: center;
}
#profile p {
    padding: 0px;
    margin: 2px;
    font-style: italic;
}

.links {
    display: flex;
    flex-direction:column;
}
.link {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
}
.link a {
    height: 100%;
    margin-right: 10px;
}
.link a img {
    height: 100%;
}
.link p {
    margin: 0px;
    font-weight: bold;
}

.blurb {
    border-bottom: 5px dotted var(--desat-green);
}
.blurb h3 {
    margin: 8px 0px 5px 0px;
}
.blurb p {
    margin: 0px 0px 10px 0px;
}
.blurbnote {
    font-style: italic;
    font-weight: normal;
    font-size: 0.875em;
}
.blurbnote a {
    color: var(--dark-green);
}
details {
    margin-bottom: 20px;
}
summary {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.book {
    border-bottom: 5px dotted var(--desat-green);
    padding: 10px 0px;
    display: flex;
}
.book img {
    width: 100px;
    margin-right: 10px;
}
.book h3 {
    font-style: italic;
    margin: 0px 0px 5px 0px;
}
.book p {
    margin: 0px 0px 5px 0px;
    font-size: 0.9em;
}
.readlinks a {
    color: #0a0106;
}
.featuredbook a {
    color: #0a0106;
}

.imgtext-sidebyside {
    display: flex;
}
.imgtext-sidebyside img {
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*@media (max-width: 600px) {
    .page-container { width: 300px; }
    .text-container { flex-direction: column; }
}
@media (min-width: 600px) {
    .page-container { width: 400px; }
    .text-container { flex-direction: column; }
}
@media (min-width: 768px) {
    .page-container { width: 600px; }
    .text-container { flex-direction: column; }
}
@media (min-width: 992px) {
    .page-container { width: 800px; }
    .text-container { flex-direction: row; }
}
@media (min-width: 1200px) {
    .page-container { width: 1080px; }
    .text-container { flex-direction: row; }
}*/
